In [1]:
import pandas as pd
df = pd.read_csv(r"C:\DataSet\MSFT.csv")

df.head()

   Unnamed: 0       Open       High        Low      Close  Adj Close    Volume
0           0  30.620001  31.100000  30.590000  30.950001  23.683077  38409100
1           1  30.850000  31.100000  30.639999  30.959999  23.690720  49749600
2           2  30.879999  31.080000  30.520000  30.770000  23.545341  58182400
3           3  30.629999  30.700001  30.190001  30.450001  23.300470  50559700
4           4  30.280001  30.879999  30.240000  30.660000  23.461161  51197400

In [2]:
df = df.drop(columns=['Unnamed: 0'])

df.head()

        Open       High        Low      Close  Adj Close    Volume
0  30.620001  31.100000  30.590000  30.950001  23.683077  38409100
1  30.850000  31.100000  30.639999  30.959999  23.690720  49749600
2  30.879999  31.080000  30.520000  30.770000  23.545341  58182400
3  30.629999  30.700001  30.190001  30.450001  23.300470  50559700
4  30.280001  30.879999  30.240000  30.660000  23.461161  51197400

In [3]:
X = df.drop(columns=['Adj Close'])
y = df['Adj Close']

In [4]:
from skfeature.function.similarity_based import fisher_score

fs = fisher_score.fisher_score(X.to_numpy(), y.to_numpy())

In [15]:
X

            Open        High         Low       Close    Volume
0      30.620001   31.100000   30.590000   30.950001  38409100
1      30.850000   31.100000   30.639999   30.959999  49749600
2      30.879999   31.080000   30.520000   30.770000  58182400
3      30.629999   30.700001   30.190001   30.450001  50559700
4      30.280001   30.879999   30.240000   30.660000  51197400
...          ...         ...         ...         ...       ...
3271  238.210007  239.960007  236.660004  239.820007  21930800
3272  243.080002  245.750000  237.399994  239.580002  25740000
3273  232.279999  232.869995  225.960007  229.100006  50623400
3274  227.199997  227.550003  221.759995  222.309998  39585600
3275  223.000000  225.759995  219.350006  224.929993  43597700

[3276 rows x 5 columns]

In [18]:
p_values = pd.Series(fs, index = X.columns)
p_values.sort_values(ascending = True, inplace = True)
p_values

Volume    0
Open      1
Low       2
High      3
Close     4
dtype: int32

In [19]:
X2 = X[['High', 'Close']]

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2 ,random_state = 0)

In [21]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr = svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)

In [25]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

58.565889074945694